.landing {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-color: rgba(210, 233, 221, 1);
  gap: 25px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 6rem;

    @media (max-width: 991px) {
      padding: 0 3rem;
    }

    @media (max-width: 767px) {
      padding: 0 1.5rem;
      gap: 15px;
    }
  }

  &__home-content,
  &__admin-content {
    width: 100%;
    box-sizing: border-box;
  }
}
