.invoice-table {
  cursor: default;
  background-color: #fff;
  border-collapse: collapse;
  margin: 2rem auto 0;
  width: 100%;
  border: 1px solid #c0c0c0;
}

.invoice-table thead {
  background: #000;
  color: #fff;
}

.invoice-table thead th {
  background: #000;
  color: #fff;
  line-height: 3rem;
  font-weight: 700;
  padding: 0 10px;
}

.invoice-table tbody {
  line-height: 1.925;
  text-align: center;
  font-weight: 300;
}

.invoice-table tbody th,
.invoice-table tbody td {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  padding: 5px 10px;
}

.invoice-table tbody tr:nth-child(2n-1) {
  background: rgb(215, 215, 215);
}

.invoice-table tbody tr:hover {
  background: rgba(210, 233, 221, 1);
  border: 1px solid rgb(51, 118, 124);
}

.invoice-table tfoot {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  background-color: #f9f9f9;
  border-top: 1px solid #c0c0c0;
  text-align: center;
}

.invoice-table tfoot td {
  padding: 10px 15px;
}

@media only screen and (max-width: 768px) {
  .invoice-table tbody th,
  .invoice-table tbody td {
    padding: 10px;
  }

  .invoice-table thead th {
    padding: 5px;
  }
}

@media only screen and (max-width: 479px) {
  .invoice-table {
    margin: 0 0 64px;
  }

  .invoice-table thead {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #666;
  }

  .invoice-table thead th {
    width: 21%;
  }

  .invoice-table tbody td {
    width: 17%;
  }

  .invoice-table tfoot {
    font-size: 0.875rem; /* Adjust font size for small screens */
  }
}
