.custom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  border-radius: 8px;
  color: rgba(0, 80, 89, 1);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 80, 89, 1);
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;

  cursor: pointer;

  &:hover {
    background-color: rgb(26, 116, 125);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgb(26, 116, 125);
  }

  &:active {
    background-color: rgba(0, 80, 89, 1);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 80, 89, 1);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &__disabled {
    cursor: not-allowed;
    background-color: #cccccc;
    color: rgb(77, 129, 134);
    border-color: #cccccc;

    &:hover,
    &:active {
      background-color: #cccccc;
      color: rgb(77, 129, 134);
      box-shadow: none;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 20px;
    margin-right: 8px;
  }

  &__title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.8px;
    white-space: nowrap;

    text-transform: uppercase;
  }
}
