.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  min-width: 650px;
}

.tableHead {
  background-color: #dcffff;
}

.tableHeadCell {
  font-weight: bold;
}

.tableBodyRow:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.tableFooterRow {
  background-color: #dcffff;
}

.file-upload-container {
  margin-bottom: 20px;
}

.file-upload-input {
  display: none;
}

.selected-files-container {
  position: relative;
  max-width: 800px;
  max-height: 330px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  margin: auto;
}

.selected-files-container::after {
  content: attr(data-count);
  position: absolute;
  top: 0;
  right: 40%;
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  z-index: 1;
}

.selected-file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  margin-bottom: 10px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-name {
  margin-right: 10px;
}

loading-prompt {
  font-size: 20px;
  font-weight: bold;
}
